@font-face {
  font-family: "Roboto";
  src: url(../fonts/roboto/Roboto-Regular.ttf);
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto-Bold";
  src: url(../fonts/roboto/Roboto-Bold.ttf);
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Dosis-Bold";
  src: url(../fonts/Dosis/Dosis-Bold.ttf);
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Dosis";
  src: url(../fonts/Dosis/Dosis-Regular.ttf);
  font-style: normal;
  font-display: swap;
}
:root {
  --main-color: #4267b2;
  --main-bg-color: #e76657;
  --color-body: #000;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto-Bold", sans-serif;
}
.h3,
.h4,
.h5,
.h6,
h3,
h4,
h5,
h6 {
  line-height: 1.5;
}
body {
  font-size: 16px;
  color: #000;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  border: none;
}

img,
.img {
  max-width: 100%;
  max-height: 100%;
}

a {
  color: #000;
}

a:hover {
  text-decoration: none;
  color: var(--main-color);
}

.color_main {
  color: var(--main-color);
}

.list_style_none {
  list-style: none;
  padding: 0;
  margin: 0;
}

.semni_bold {
  font-weight: 600;
}
/* header */
.header {
  position: fixed;
  z-index: 2;
  width: 100%;
}
.header_desktop {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header.fixed {
  background: #fff;
  box-shadow: 1px 1px 2px rgb(88 88 90 / 12%);
}
.header_mobile {
  display: none;
}
.container_box {
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
}
.logo_box img {
  width: 90px;
}
.logo_box {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.main_menu_list .item {
  padding: 17px 15px;
}
.main_menu_list .item:first-child {
  padding-left: 0;
}
.main_menu_list .item a {
  font-weight: 600;
}
.main_menu_list .item.active a {
  color: #125fb1;
}

.menu_box .dropdown-menu .navigation__link {
  font-weight: 500;
  font-size: 15px;
  padding: 3px 10px 10px 0;
  color: #000;
  position: relative;
  border-bottom: solid 1px #f4f4f4;
  width: 100%;
  display: block;
}
.header_desktop .dropdown-menu .navigation__link:hover {
  color: var(--main-color);
}
.menu_box .dropdown-menu {
  display: block;
  top: calc(100% - 1px);
  left: 10px;
  border: none;
  padding-top: 0;
  padding-bottom: 0;
  box-shadow: 0 1px 11px 0px rgb(0 0 0 / 20%);
  border-radius: 0;
  opacity: 0;
  overflow: hidden;
  max-height: 0px;
  max-width: 0px;
  -webkit-transform-origin: 0% 0%;
  -moz-transform-origin: 0% 0%;
  -ms-transform-origin: 0% 0%;
  -o-transform-origin: 0% 0%;
  transform-origin: 0% 0%;
  -webkit-transform: perspective(600px) rotateX(-90deg);
  -moz-transform: perspective(600px) rotateX(-90deg);
  -ms-transform: perspective(600px) rotateX(-90deg);
  -o-transform: perspective(600px) rotateX(-90deg);
  transform: perspective(600px) rotateX(-90deg);
  transition: transform 0.5s ease, opacity 0.2s ease, max-height 0s step-end, max-width 0s step-end, padding 0s step-end;
}
.top_icon_box .dropdown-menu {
  border: none;
  padding-top: 0;
  padding-bottom: 0;
  box-shadow: 0 1px 11px 0px rgb(0 0 0 / 20%);
  border-radius: 5px;
  margin-top: 0;
  min-width: 190px;
  display: block;
  opacity: 0;
  overflow: hidden;
  max-height: 0px;
  max-width: 0px;
  -webkit-transform-origin: 0% 0%;
  -moz-transform-origin: 0% 0%;
  -ms-transform-origin: 0% 0%;
  -o-transform-origin: 0% 0%;
  transform-origin: 0% 0%;
  -webkit-transform: perspective(600px) rotateX(-90deg);
  -moz-transform: perspective(600px) rotateX(-90deg);
  -ms-transform: perspective(600px) rotateX(-90deg);
  -o-transform: perspective(600px) rotateX(-90deg);
  transform: perspective(600px) rotateX(-90deg);
  transition: transform 0.5s ease, opacity 0.2s ease, max-height 0s step-end, max-width 0s step-end, padding 0s step-end;
}
.header_desktop .top_icon_box .dropdown-menu li:first-child {
  padding-top: 1rem;
}
.header_desktop .top_icon_box .dropdown-menu li:last-child {
  padding-bottom: 1rem;
}
.icon_item.subMenu:hover > .dropdown-menu {
  opacity: 1;
  max-height: 3000px;
  max-width: 3000px;
  overflow: visible;
  -webkit-transform: perspective(600px) rotateX(0deg);
  -moz-transform: perspective(600px) rotateX(0deg);
  -ms-transform: perspective(600px) rotateX(0deg);
  -o-transform: perspective(600px) rotateX(0deg);
  transform: perspective(600px) rotateX(0deg);
  transition: transform 0.5s ease, opacity 0.2s ease, max-height 0s step-end, max-width 0s step-end, padding 0s step-end;
}
.header li.subMenu:hover > .dropdown-menu {
  opacity: 1;
  max-height: 3000px;
  max-width: 3000px;
  overflow: visible;
  -webkit-transform: perspective(600px) rotateX(0deg);
  -moz-transform: perspective(600px) rotateX(0deg);
  -ms-transform: perspective(600px) rotateX(0deg);
  -o-transform: perspective(600px) rotateX(0deg);
  transform: perspective(600px) rotateX(0deg);
  transition: transform 0.5s ease, opacity 0.2s ease, max-height 0s step-end, max-width 0s step-end, padding 0s step-end;
}
.top_icon_box .dropdown-menu .navigation__link {
  font-weight: 500;
  font-size: 13px;
  padding: 5px 10px;
  position: relative;
  width: 100%;
  display: block;
  color: #fff;
  border-radius: 30px;
  text-align: center;
}
.top_icon_box .dropdown-menu .navigation__link:hover {
  border: 1px solid #4c4a4a;
  background: #fff;
  color: #4c4a4a;
}
.top_icon_box .login {
  background-color: #4c4a4a;
  border: 1px solid #4c4a4a;
}
.top_icon_box .sign_up {
  background-color: #7b8395;
  border: 1px solid #7b8395;
}
.main_menu_list .dropdown-menu li {
  width: 100%;
  padding: 5px 10px;
}
.main_menu_list .dropdown-menu li:first-child {
  padding-top: 12px;
}
.main_menu_list .dropdown-menu li:last-child {
  padding-bottom: 12px;
}
.header_desktop .top_icon_box .dropdown-menu li {
  width: 100%;
  padding: 5px 25px;
  margin-bottom: 3px;
}
.top_icon_box {
  font-size: 26px;
}
.icon_item {
  padding: 15px 15px 6px;
}
.main_menu_list .dropdown-menu li:last-child a {
  border-bottom: 0;
  padding-bottom: 0;
}
/* main */
.slider_box {
  height: 100vh;
  min-height: 725px;
  position: relative;
  max-height: 825px;
}
.slider_item {
  display: flex;
  align-items: center;
}

.slider_item h3 {
  color: #4267b2;
  font-size: 3.5rem;
  margin-bottom: 2rem;
  font-family: "Dosis-Bold", sans-serif;
}
.slider_item .body {
  width: 60%;
  padding-right: 100px;
}
.slider_item .image {
  width: 40%;
  position: relative;
  top: -40px;
}
.slider_item .image img {
  max-height: 825px;
  height: 100vh;
  min-height: 725px;
  position: relative;
}
.background_slider {
  background-color: #4167b2;
  position: absolute;
  left: 0;
  top: 140px;
  width: 100%;
  height: calc(100% - 280px);
  border-radius: 63% 37% 32% 68% / 44% 63% 37% 56%;
}
.slider_item .slider_content {
  color: #555;
  margin-bottom: 3rem;
  font-size: 18px;
}
.view_more {
  display: block;
  color: #fff;
  background-color: var(--main-color);
  border: 1px solid var(--main-color);
  text-align: center;
  width: 180px;
  text-transform: uppercase;
  font-weight: 600;
  padding: 7px 15px;
  border-radius: 1px;
  transition: 0.3s;
}
.view_more:hover {
  border: 1px solid var(--main-color);
  background-color: #fff;
  color: var(--main-color);
}
.owl-dots {
  counter-reset: slides-num;
  position: absolute;
  left: 50%;
  bottom: 97px;
  transform: translateX(-50%);
}
.owl-dot span {
  display: none;
}
.owl-dot {
  display: inline-block;
  counter-increment: slides-num;
  margin-right: 5px;
}
.owl-dot.active:before {
  content: counter(slides-num) "/";
  display: inline-block;
  vertical-align: middle;
  font-size: 20px;
  font-weight: 600;
  position: absolute;
  left: 0;
  top: 0;
}
.owl-dots:after {
  content: counter(slides-num);
  display: inline-block;
  font-size: 20px;
  font-weight: 700;
  vertical-align: middle;
  padding-left: 6px;
}
.owl-nav button i {
  font-size: 35px;
}
.owl-nav button {
  margin-right: 15px;
  margin-left: 15px;
}
.owl-nav button:focus {
  outline: none;
  border: none;
}
.owl-nav {
  text-align: center;
  position: absolute;
  left: 50%;
  bottom: 90px;
  transform: translateX(-50%);
}

.service_body h3 {
  font-size: 18px;
  color: #000;
  margin-bottom: 3px;
}
.service_body .intro {
  font-size: 14px;
  color: #555;
}
.service_item {
  padding: 15px 30px 15px 25px;
  box-shadow: 5px 4px 28px rgba(0, 0, 0, 0.1), 5px 8px 10px rgba(0, 0, 0, 0.08);
}
.service_icon {
  display: flex;
  align-items: center;
  width: 55px;
}
.service_body {
  width: calc(100% - 55px);
}
.service_icon i {
  font-size: 32px;
  color: var(--main-color);
}
.service_box {
  margin-bottom: 80px;
  margin-top: 55px;
}
.product_image {
  overflow: hidden;
}
.product_image img {
  width: 100%;
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
}
.product_image:hover img {
  -webkit-transform: scale3d(1.05, 1.05, 1);
  transform: scale3d(1.05, 1.05, 1);
}
.product_item {
  padding-left: 40px;
  padding-right: 40px;
  margin-bottom: 50px;
}
.product_item .title {
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  margin-top: 25px;
  margin-bottom: 5px;
}
.product_item .title a {
  color: #888;
}
.product_item .title a:hover {
  color: var(--main-color);
}
.section_title {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 1.75rem;
}
.top_products_list {
  margin-top: 60px;
}
.product_price del {
  color: #999;
  margin-left: 20px;
}
.add_cart {
  display: block;
  color: #fff;
  background-color: var(--main-color);
  border: 1px solid var(--main-color);
  text-align: center;
  width: 110px;
  text-transform: uppercase;
  font-weight: 600;
  padding: 5px;
  margin: 7px auto 0;
  font-size: 12px;
  transition: 0.3s;
}
.add_cart:hover {
  border: 1px solid var(--main-color);
  background-color: #fff;
  color: var(--main-color);
}
.new_products_list {
  margin-top: 65px;
}
.new_products_box {
  margin-top: 50px;
  margin-bottom: 50px;
}
.popular_products_list {
  margin-top: 65px;
}
.popular_products_box {
  margin-top: 80px;
}
.banner_box img {
  width: 100%;
}

/* footer */
.footer {
  padding-top: 65px;
  padding-bottom: 65px;
  font-size: 14px;
  border-bottom: 3px solid #000;
}
.main_yolo {
  padding-bottom: 40px;
  position: relative;
}
.main_yolo:after {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.02));
  position: absolute;
  bottom: 0;
  height: 13px;
  width: 100%;
  content: "";
}

.logo_footer img {
  width: 120px;
}
.footer h4 {
  font-size: 16px;
  margin-bottom: 15px;
}
.footer p {
  margin-bottom: 10px;
}
.footer .logo_footer {
  margin-bottom: 25px;
}
.col_footer {
  margin-bottom: 30px;
}
.search_form {
  padding: 13px 18px;
}
.input_search {
  color: #000;
  font-size: 14px;
  padding-right: 25px;
  width: 100%;
}
.input_search:focus {
  border: none;
  outline: none;
}
input::-webkit-input-placeholder {
  color: #000;
}

input:-ms-input-placeholder {
  color: #000;
}

input::placeholder {
  color: #000;
}
.btn_search {
  position: absolute;
  right: 8px;
  top: 7px;
  font-size: 20px;
  padding: 3px 5px 0;
}
.btn_search:focus {
  outline: none;
  border: none;
}
.cart_box .icon {
  text-align: center;
  font-size: 34px;
}
.icon_mobile_box .cart_box .icon i.bx {
  font-size: 34px;
}
.cart_box {
  font-size: 14px;
  padding: 10px 15px 15px;
}
.cart_box:after,
.top_icon_box .dropdown_list_item .nav-pills:after {
  content: "";
  position: absolute;
  bottom: 100%;
  border: 11px solid transparent;
  border-bottom-color: #fff;
  right: 15px;
}
.search_form:after {
  content: "";
  position: absolute;
  bottom: 100%;
  border: 11px solid transparent;
  border-bottom-color: #fff;
  left: 15px;
}
.icon_mobile_box {
  position: absolute;
  display: flex;
  right: 55px;
  top: 3px;
}
.icon_mobile_box i.bx {
  font-size: 27px;
}
.icon_mobile_box .search_form:after {
  left: auto;
  right: 17px;
}
.icon_mobile_box.top_icon_box .dropdown-menu li:first-child {
  padding-top: 1rem;
}
.icon_mobile_box.top_icon_box .dropdown-menu li:last-child {
  padding-bottom: 1rem;
}
.icon_mobile_box.top_icon_box .dropdown-menu li {
  width: 100%;
  padding: 5px 25px;
  margin-bottom: 3px;
}
@media (min-width: 1200px) {
  .col_footer {
    margin-bottom: 0;
  }
}
@media (max-width: 1600px) {
  .background_slider {
    left: 30px;
    width: calc(100% - 60px);
  }
}
@media (max-width: 1310px) {
  .container_box {
    max-width: 1170px;
  }
}
@media (min-width: 1200px) and (max-width: 1310px) {
  .service_item {
    padding: 15px 20px;
  }
  .service_icon {
    width: 45px;
  }
  .service_body {
    width: calc(100% - 45px);
  }
}
@media (max-width: 1200px) {
  .container_box {
    max-width: 991px;
  }
  .slider_item h3 {
    font-size: 2.5rem;
  }
  .service_item {
    padding: 15px 10px;
  }

  .service_body {
    width: calc(100% - 40px);
  }
  .service_body h3 {
    font-size: 16px;
  }
  .service_body .intro {
    font-size: 13px;
  }
  .service_box {
    margin-bottom: 55px;
    margin-top: 35px;
  }
  .product_item {
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 35px;
  }
  .new_products_box {
    margin-top: 35px;
    margin-bottom: 35px;
  }
  .popular_products_box {
    margin-top: 65px;
  }
  .product_item .title {
    margin-top: 15px;
  }
  .slider_item .image img {
    max-height: 650px;
    min-height: 550px;
  }
  .slider_box {
    height: auto;
    min-height: 550px;
  }
  .slider_item .slider_content {
    font-size: 17px;
  }
}

@media (max-width: 1024px) {
  .icon_mobile_box.top_icon_box .dropdown-menu {
    top: calc(100% + 3px);
  }
  .header_mobile {
    display: block;
  }
  .container_box {
    padding-left: 15px;
    padding-right: 15px;
  }
  .main_yolo {
    margin-top: 64px;
  }
  .slider_item .image {
    top: 0;
  }

  .add_cart {
    margin-top: 5px;
  }
  .product_item .title {
    margin-bottom: 0;
  }
  /* .main__menu--list .item.active a {
    color: #125fb1;
  } */
}
@media (min-width: 992px) and (max-width: 1200px) {
  .service_icon {
    width: 40px;
  }
  .service_body {
    width: calc(100% - 40px);
  }
}
@media (min-width: 992px) and (max-width: 1024px) {
  .product_item {
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 35px;
  }
  .slider_item .image img {
    min-height: 480px;
    height: auto;
  }
  .background_slider {
    left: 20px;
    width: calc(100% - 30px);
    height: calc(100% - 180px);
    top: 100px;
  }
  .slider_item .body {
    width: 60%;
    padding-right: 40px;
  }
  .slider_box {
    height: auto;
    min-height: 480px;
  }
}
@media (max-width: 991px) {
  .slider_item .image img {
    min-height: 480px;
    height: auto;
  }
  .slider_box {
    height: auto;
    min-height: 480px;
    max-height: 575px;
  }
  .background_slider {
    left: 20px;
    width: calc(100% - 30px);
    height: calc(100% - 180px);
    top: 100px;
  }
  .slider_item .slider_content {
    font-size: 15px;
  }
  .slider_item .body {
    width: 60%;
    padding-right: 35px;
  }
  .view_more {
    font-size: 14px;
    padding: 7px 8px;
    width: 150px;
  }
  .owl-nav {
    bottom: 40px;
  }
  .owl-dots {
    bottom: 47px;
  }
  .service_item {
    margin-bottom: 35px;
  }
  .section_title {
    font-size: 1.5rem;
  }
  .service_box {
    margin-bottom: 30px;
    margin-top: 35px;
  }
  .top_products_list,
  .new_products_list,
  .popular_products_list {
    margin-top: 40px;
  }
}
@media (min-width: 480px) and (max-width: 767px) {
  .slider_item {
    padding-left: 10%;
    padding-right: 10%;
  }
  .product_item {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (max-width: 767px) {
  .slider_content {
    display: none;
  }
  .slider_box {
    min-height: unset;
    max-height: unset;
    margin-bottom: 80px;
  }
  .slider_item .body {
    width: 100%;
    padding-right: 15px;
  }
  .slider_item .image {
    width: 100%;
  }
  .slider_item {
    flex-wrap: wrap-reverse;
  }
  .slider_item h3 {
    font-size: 1.75rem;
    margin-bottom: 5px;
    text-align: center;
  }
  .view_more {
    margin: 0 auto;
    font-size: 13px;
    padding: 6px 8px;
  }
  .owl-nav {
    bottom: -50px;
  }
  .owl-dots {
    bottom: -42px;
  }
  .product_item .title {
    margin-top: 8px;
  }
  .col_footer {
    margin-bottom: 20px;
  }
  .footer {
    padding-top: 40px;
    padding-bottom: 5px;
    font-size: 14px;
    border-bottom: 3px solid #000;
  }
  .footer .logo_footer {
    margin-bottom: 15px;
  }
  .icon_mobile_box i.bx {
    font-size: 24px;
  }
  .icon_mobile_box {
    top: 1px;
  }
}
@media (max-width: 375px) {
  .icon_mobile_box i.bx {
    font-size: 22px;
  }
  .icon_item {
    padding: 13px 7px 6px;
  }
  .icon_mobile_box {
    right: 50px;
  }
  .icon_mobile_box {
    top: 3px;
  }
}
@media (max-width: 290px) {
  .icon_mobile_box {
    display: none;
  }
}
